.hidden {
  display: none;
!important;
}

.errors {
  color: darkred;
!important;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {

}

.w3-top {
  max-width: 1110px;

}

#contact {
  max-width: 1200px;
}

#google {
  width: 30px;
}

#zipCode {
  font-size:25px;
  text-align: center;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 200px;
  width: 300px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 200px;
  width: 400px;
}

.residency {
  color: white;
}

.assistanceStyle {
  min-height:260px;
}

.assistanceFont {
  font-size:35px;
}

.contactFont {
  width: 30px;
}

.navbarStyle {
  margin-top: 46px;
}

.pageStyle {
  max-width: 1200px;
  margin-top: 80px;
}

.btn {
  cursor: pointer;
  background-color: #214d65; !important;
}

#applicationContainer {
  max-width: 980px;
  box-sizing: border-box;
  /*
  border: 2px solid #1a4760d6;
  */

}

#welcomeMessage {
  max-width: 1200px;
}

.band {
  max-width: 1200px;
}

.break {
  height: 20px;
}

btn-zipCode {
  margin-left: 5px;
  margin-bottom: 12px;
  background-color: #214d65;
}

body{
  font-family: "Lato", sans-serif;
}

/*==== OUTLINES AND FONT COLORS ===*/
.w3-black, .bg-dark, .w3-hover-black:hover {
  background-color: #1a4760d6!important;

  background: #2C3E50;!important;
  background: -webkit-linear-gradient(to right, #1a4760d6, #5473a0);!important;
  background: linear-gradient(to right, #1a4760d6, #5473a0); !important;
}

/*==== BOTTOM SOCIAL MEDIA PANEL ===*/
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.w3-padding-64 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.cardHeight{
  height: 200px;
  width: 400px;
}

.close {
  color: #fff;
  opacity: 1;
}

.modal {
  overflow-y: auto;
}

.modal-open {
  overflow: auto;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
}