<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
    <link type="text/css" rel="stylesheet" href="styles/home.css">
    <style>

    </style>
    <title>Budget</title>
</head>
<body>
<include href="views/header.html"/>
<div class="container">
    <h3>Weekly Tasks</h3>

    <form action="#" method="post" class="form-inline" id="addBudget">
        <div class="form-group pl-5">
            <div class="row">
                <label for="budget">Weekly Budget:&nbsp&nbsp</label>
                <input type="text" class="form-control mr-2" id="budget" name="budget">
                <button type="submit" class="btn btn-primary">Set Budget</button>
            </div>
        </div>
    </form>

    <hr>

    <table class="table table-bordered table-responsive" id="budgeted">
        <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">Total</th>
                <th scope="col">Remaining</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Budget</th>
                <td>{{ @budget }}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Estimated</th>
                <td>{{ @estimates }}</td>
                <td>{{ @budgetMinusEstimates }}</td>
            </tr>
            <tr>
                <th scope="row">Paid</th>
                <td>{{ @paid }}</td>
                <td>{{ @budgetMinusPaid }}</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <div class="container">
        <table class="table table-bordered table-responsive table-striped table-hover" id="table1">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Resource</th>
                    <th scope="col">Estimated</th>
                    <th scope="col">Paid</th>
                    <th class="hidden"></th>
                </tr>
            </thead>
            <tbody>
                <check if="{{ isset(@result) }}" >
                    <repeat group="{{ @result }}" value="{{ @row }}">
                        <tr>
                            <td><check if="{{ isset(@row) }}" >
                                {{ $row['taskDate'] }} </check></td>
                            <td><check if="{{ isset(@row) }}" >
                                {{ $row['taskTime'] }}</check> </td>
                            <td><check if="{{ isset(@row) }}" >
                                {{ $row['clientName'] }} </check></td>
                            <td><check if="{{ isset(@row) }}">
                                {{ $row['resourceType'] }}</check> </td>
                            <td><check if="{{ isset(@row) }}">
                                {{ $row['taskAmount'] }}</check> </td>
                            <td><check if="{{ isset(@row) }}">
                                {{ $row['paid'] }}</check></td>
                            <td class="hidden"><check if="{{ isset(@row) }}">
                                {{ $row['taskID'] }}</check></td>
                        </tr>
                    </repeat>
                </check>
            </tbody>
        </table>
        <form action="#" method="post" class="form-horizontal" id="removeTask">
            <div class="form-group hidden">
                <input type="text" class="form-control" id="taskID" name="taskID">
            </div>
            <button type="submit" class="btn btn-danger float-right mt-2">Delete selected Task</button>
        </form>
        <br>
        <br>
        <hr>
        <form action="#" method="post" class="form-inline" id="editTask">
            <div class="form-group hidden">
                <input type="text" class="form-control" id="taskIDedit" name="taskIDedit">
            </div>
            <label for="taskAmount">Actually Paid Out: </label>
            <span class="input-group-addon ml-2">$ </span>
            <input type="number" class="form-control mr-2" id="paid" name="paid">
            <button type="submit" class="btn btn-primary">Edit selected Task</button>
        </form>
    </div>
    <hr>
    <div class="container">

        <form action="#" method="post" class="form-group" id="Tasks">
            <fieldset class="form-group">
                <legend>Add Task</legend>

                <div class="form-inline">
                    <label for="clientName">Client Name: </label>
                    <input type="text" class="form-control ml-2 mr-5" id="clientName" name="clientName">

                    <label for="taskDate">Date: </label>
                    <input type="date" class="form-control ml-2 mr-5" id="taskDate" name="taskDate">

                    <label for="taskTime">Time: </label>
                    <input type="time" class="form-control ml-2" id="taskTime" name="taskTime">
                </div>

                <div class="form-inline">
                    <label class='form-check-label'>Resource: </label>
                    <label class='d-block'></label>

                    <select class="form-control dropdown" name="resource[]" multiple>
                        <repeat group="{{@listResources}}" value="{{@thisResource}}">
                            <option value="{{ str_replace(' ', '', strtolower(@thisResource)) }}" > {{ @thisResource }}</option>
                        </repeat>
                    </select>

                    <p>&nbsp&nbsp&nbsp&nbsp&nbsp</p>

                    <label for="taskAmount">Amount: </label>
                    <span class="input-group-addon">$ </span>
                    <input type="number" class="form-control mr-5" id="taskAmount" name="taskAmount">


                    <div class="pt-2">
                        <button id = "taskSubmit" type="submit" class="btn btn-primary">Add Task</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script src="js/budget.js"></script>

</body>
</html>
