<!-- Header Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
    <h1><a class="navbar-brand" href="{{@BASE}}/home"><img id="logo" src="{{@BASE}}/images/StJamesLogo.png" alt="St. James Outreach"/></a></h1>
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li><a class="dropdown-item" href="{{@BASE}}/newGuest">New Guest</a></li>
            <li><a class="dropdown-item" href="{{@BASE}}/home">View Guests</a></li>
            <li><a class="dropdown-item" href="{{@BASE}}/reports">Reports</a></li>
            <li><a class="dropdown-item" href="{{@BASE}}/demographics">Demographics</a></li>
            <li><a class="dropdown-item" href="{{@BASE}}/profile">Change Password</a></li>
            <li><a class="dropdown-item" target="_blank" href="{{@BASE}}/requests">View Requests</a></li>
            <li><a class="dropdown-item" target="_blank" href="{{@BASE}}/../intake/form">Intake Form</a></li>
            <li><a class="dropdown-item" href="{{@BASE}}/budget">Budget</a></li>
        </ul>
        <h4><a id="login" href="./logout" >Log out</a></h4> <br>
    </div>
</nav>