<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
    <link type="text/css" rel="stylesheet" href="styles/home.css">
    <title>Profile</title>
</head>
<body>
    <include href="views/header.html"/>
    <div class="container">
        <h3 class="text-muted">Profile</h3>
        <br>
        <h4>Logged in as {{ @username }}</h4>
        <br>
        <h4>Change Password</h4>
        <form action="" method="post">
            <p><strong>Current Password: </strong><input type='password' name='currentPassword'></p>
            <p><strong>New Password: </strong><input type='password' name='newPassword'></p>
            <p><strong>Confirm New Password: </strong><input type='password' name='confirmPassword'></p>
            <button class="btn btn-primary" type="submit" name="changePassword">Change Password</button>

            <check if="{{ @passChanged }}">
                <p class="text-success" role="alert">Password Changed</p>
            </check>
            <check if="{{ isset(@error)}}">
                <p class="text-danger">{{@error}}</p>
            </check>
        </form>
    </div>
</body>
</html>