<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
    <link type="text/css" rel="stylesheet" href="styles/home.css">
    <style>

    </style>
    <title>Requests</title>
</head>
<body>
<include href="views/header.html"/>
<div class="container">
    <div class="row">

        <div class="col">
            <div class="form-group" id="searchFilter">
                <label class="input-group form-control-label">
                    <input class="form-control" type="search" id="startFilter" name="startFilter" autofocus>
                    <input id="search" class="btn" type="button" value="Search">
                </label>
            </div>
        </div>

        <div class="col"></div>

        <div class="col">
            <!--            <div class="form-group has-warning" id="zipasdf">-->
            <!--                <div class="input-group">-->
            <!--                    <div class="input-group-prepend">-->
            <!--                        <span class="input-group-text" id="zip">Zip Code:</span>-->
            <!--                    </div>-->
            <!--                    <input class="form-control" aria-label="Zip Code:" aria-describedby="zip" type="text" id="zipcode" name="zipcode" maxlength="5">-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="input-group mb-3 has-warning" id="zipLabel">
                <div class="input-group-prepend mx-auto">
                    <div class="btn" id="zip">Zip Code:</div>
                </div>
                <input type="search" class="form-control" aria-label="Default" aria-describedby="zip" id="zipcode" name="zipcode" maxlength="5">
            </div>

        </div>

    </div>

    <!-- Button trigger modal -->

</div> <!-- Table selection and zip checker -->


    <div class="container" id="info">
        <h3 class="text-muted">Requests</h3>
        <table id="guestInfo" class="display">
            <thead>
            <tr>
                <th>Complete</th>
                <th>Date</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @requests}}" value="{{ @request }}">
                    <tr class="clickableRow" data-href="{{ @BASE }}/request/{{@request['id']}}">
                        <td><check if="{{ @request['completed'] == 1 }}">
                        <true>Yes</true>
                        <false>No</false>
                        </check></td>
                        <td>{{@request['date']}}</td>
                        <td>{{@request['FirstName']}} </td>
                        <td>{{@request['LastName']}}</td>
                        <td>{{@request['Phone']}}</td>
                        <td>{{@request['Email']}}</td>
                    </tr>
            </repeat>
            </tbody>
            <tfoot>
            <tr>
                <th>Complete</th>
                <th>Date</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>E-mail</th>
            </tr>
            </tfoot>
        </table> <!-- Main Table -->
    </div> <!-- Container -->


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<script src="js/zipValidate.js"></script>
<script src="js/showTables.js"></script>
</body>
</html>
